{%extends 'base.html'%} {%block content%}

<nav class="navbar navbar-expand-lg navbar-light bg-primary text-white">
  <div class="container">
    <a class="navbar-brand text-white" href="#">STOCK APP</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white" href="{%url 'index'%}"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{%url 'predict_stock'%}"
            >Predict-Price</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{%url 'news'%}">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#"></a>
        </li>
      </ul>
    </div>

    {% if user.is_authenticated %}
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
      <a href="{%url 'logout'%}" class="text-white"> Logout </a>
    </button>
    {%else%}
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
      <a href="{%url 'login'%}" class="text-white"> Login </a>
    </button>
    {%endif%}
  </div>
</nav>

{%endblock%}
